:root {
  --red: #9d191f;
  --dark-red: #801712;
  --yellow: #fee1b1;
}

@font-face {
  font-family: "main-font";
  src: url("assets/Fonts/ActionCondensedRegular-Grade2-Trial.otf") format("opentype");
}

body {
  font-family: "main-font";
  background-color: var(--yellow);
  color: var(--dark-red);
  margin: 0;
  font: url();
}

.logo {
  object-fit: contain;
}

.header {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex: 1 1 1;
  align-items: center;
  justify-content: center;
  background-color: var(--red);
  color: var(--yellow);
  margin: 0;
  height: 20vh;
  font-size: 10vh;
}
